.animations .calltoaction {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #ffc300;
  border-radius: 5px;
  color: #003566;
  box-shadow: 0px 0px 4px 0px rgba(#003566, 0.25);
  animation: shadowAnimation 2s ease-in-out infinite; /* Animation du shadow */

  @keyframes shadowAnimation {
    0%,
    100% {
      text-shadow: 0px 0px 4px 0px rgba(#003566, 0.25);
    }
    50% {
      text-shadow: 0px 0px 130px 0px rgba(0, 0, 0, 0.7); /* Shadow agrandi */
    }
  }
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #451717;
  color: hsl(0, 0%, 100%);
  animation: wheelHueColor 100s infinite;
}

@keyframes wheelHueColor {
  from,
  to {
    background-color: hsl(324, 70%, 45%);
  }
  10% {
    background-color: hsl(360, 65%, 45%);
  }
  20% {
    background-color: hsl(36, 80%, 45%);
  }
  30% {
    background-color: hsl(72, 75%, 35%);
  }
  40% {
    background-color: hsl(108, 65%, 35%);
  }
  50% {
    background-color: hsl(144, 75%, 35%);
  }
  60% {
    background-color: hsl(180, 75%, 35%);
  }
  70% {
    background-color: hsl(216, 60%, 45%);
  }
  80% {
    background-color: hsl(252, 65%, 50%);
  }
  90% {
    background-color: hsl(288, 60%, 40%);
  }
}
