.navigation {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  background: #f1faee;
  font-size: 14px;
}

.Petit {
  font-size: 14px;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  text-align: center;
}

.Moyen {
  font-size: 16px;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  text-align: center;
}

.Grand {
  font-size: 19px;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  text-align: center;
}
