.list {
  margin-bottom: 20px;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  background: #dde5b6;
  font-size: 18px;
  position: relative;
}

.list-add {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: left;
  border-radius: 15px;
  background: #6c584c;
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.list-overlay {
  background: rgba(#6c584c, 0.5);
  backdrop-filter: blur(2px);
  color: #fff;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 10px;
  height: 130px;
  padding: 10px 21px 100px 21px;
}
